 

 <div class="modal" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="myModalLabel">¿Desea ponerse en contacto con nosotros?</h4>
        </div>
      <div class="modal-body">
      <form class="form-horizontal" name="commentform" method="post">
            {% csrf_token %}
            {{ form.as_p }}   
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="submit" class="btn btn-default">Enviar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div> 
        </div>
      </form>
      </div>
    </div>
  </div>