<html> 
    <head> 
        <title>maquetado CSS utilizando todo el height</title> 
        <style type="text/css"> html,body{ margin:0px; height:100%; } </style> 
    </head> <body> <div id="contenedor" style="width:100%; height:100%;"> <div id="lateral" style="float:right; width:200px; height:100%; background-color:#eeff99;"> <div id="contenidolateral" style="padding: 30px 10px 0 10px;"> Por <a href="http://www.guiarte.com">guiarte.com</a> <br /> <br /> Esto son contenidos que colocamos en el lateral izquierdo. Resulta muy fácil maquetar con contendor de todo el alto.. </div> </div> <div id="map" style="height: 100%; margin-right:210px; background-color:#ffff99;"> Contenido que tiene que ocupar todo el espacio del navegador. </div> </div> </body> </html> </span> </body></html> 