{% load static %}
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Orla interactiva del Certificado de Profesionalidad Programación en Lenguajes Estructurados de Aplicaciones de Gestión">
	<meta name="author" content="Salvador Alcaraz">
    <meta name="robots" content="index">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}">
	<title>Orla Interactiva</title>
	
	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	<!--Bootstrap JS-->
	<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>